<footer class="footer">
            <div class="container">
                <span class="text-muted"><script>document.write(new Date().getFullYear())</script> OSF Global Services</span>
            </div>
        </footer>