
<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse" >
            <a class="navbar-brand navbar-left" href="#">Online Shop</a>
            <div class="navbar-collapse collapse ">
                <ul class="nav navbar-nav navbar-right ml-auto">
				    <% if(se.firstname){%>
						<div class="dropdown">
                                        <a class="dropdown-toggle" id="profile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#"><img class="img-circle" src="<%=se.image%>"></img></a>
                                        <div class="dropdown-menu">
											<a class = 'dropdown-head' ><strong><%= se.firstname%> <%= se.lastname%></strong></a>
											<a class='dropdown-item' href="/cart">Acount</a>
											<a class='dropdown-item' onclick="signOut();" href="/logout">Log Out</a>
                                        </div>
                        </div></br>
						<li>
						<div id="cart">
							<a href="/cart"><i class="fa fa-3x fa-shopping-cart"></i></a>
							<!--<label id="cart-badge" class="badge badge-danger"></label>-->
						</div>
                    </li>
					<%}else{%>
						<button class='btn btn-success mt-2 mr-2 mb-3' onclick="location.href='/login';">Login</button>
					<%};%>
                    <!-- Shopping cart -->
                    
					
                    <% _.each(categories, function(category){%>
						<% if(category.id == currentCategory) {%>
							<li><button class='btn btn-danger mt-2 mr-2 mb-3' id="<%=category.id%>" onclick="goToMenu(this)"><%= category.name %></button></li>
						<%}else{%>
						<li><button class='btn btn-outline-danger mt-2 mr-2 mb-3' id="<%=category.id%>" onclick="goToMenu(this)"><%= category.name %></button></li>
                    <%}});%>
                </ul>
            </div>
        </nav>