<!DOCTYPE html>

<html>
    <head>
        <%include partials/head.ejs%>
		
    </head>
    <body ng-app ng-init="please_log=false;">
        <%include partials/navbar.ejs%>
<div class="container">
  <h2>Shopping Cart</h2>
           
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Image</th>
        <th>Name</th>
		<th>Price</th>
		<th>Items</th>
		<th>Total price</th>
		<th>Delete</th>
      </tr>
    </thead>
    <tbody>
	<% var sum =0; %>
	<% for (var i=0; i<cart.products.length; i ++){%>
      <tr>
        <td><%=i+1%></td>
        <td><img style = "height:50px;width:50px;" src="/images/<%=cart.products[i].image %>"></td>
        <td><a href="<%= cart.products[i].link%>"><%= cart.products[i].name%></a></td>
		<td><%= cart.products[i].price%></td>
		<td>
			<form method="post" action="http://localhost/update_nr_prod"> 
				<input type="number" min="1" max="10" name="nr" value="<%= cart.products[i].nr%>">
				<input type="hidden" name="id" value="<%= cart.products[i].id%>">
				<button type="submit" class="btn btn-outline-succes">ok</button>
			</form>
					
		</td>
		<%var current_price = cart.products[i].nr * cart.products[i].price%>
        <td><%= current_price %></td>
		<% sum += current_price;%>
		
		<td>
			<form method="post" action="http://localhost/delete_prod"> 
				<input type="hidden" name="id" value="<%= cart.products[i].id%>">
				<button type="submit" class="btn btn-outline-default">Delete</button>
			</form>
		</td>
      </tr>
	  <%};%>
      
    </tbody>
  </table>
  <div><strong>TOTAL: <%= sum.toFixed(2)%><strong></div>
</div>

        
		
		<% include partials/foother.ejs%>


    </body>
</html>
