<!DOCTYPE html>
<html>
<head>
		<%include partials/head.ejs%>
		<!--  -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
		
		
    </head>
	
<body ng-app ng-init="login=true; response=false;">
	
	<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse" >
            <a class="navbar-brand navbar-left" href="#">Online Shop</a>
            <div class="navbar-collapse collapse ">
                <ul class="nav navbar-nav navbar-right ml-auto">
                    
						<li><button class='btn mt-2 mr-2 mb-3' ng-class="login ?'btn-success':'btn-outline-success'" ng-click="login = !login">Login</button></li>
						
						<li><button class='btn mt-2 mr-2 mb-3' ng-class="!login ?'btn-success':'btn-outline-success'" ng-click="login = !login">Register</button></li>
                    
                </ul>
            </div>
        </nav>
		
		<script></script>
		
	<div class="container mt-5 col-sm-4 col-sm-offset-4" ng-show="login">
		<div class="row">
			<div class="col-sm-12">
				<form id="login" class="form-horizontal" >
					<div class="control-group">
					  <!-- email -->
					  <label class="control-label"  for="email"><strong>Email</strong></label>
					  <div class="controls">
						<input type="email" name="email" placeholder="" class="form-control" required>
					  </div>
					</div>
					<div class="control-group">
					  <!-- Password-->
					  <label class="control-label" for="password"><strong>Password</strong></label>
					  <div class="controls">
						<input type="password"  name="password" placeholder="" class="form-control" required>
					  </div>
					</div>
					<input type="text" name="ref" value="<%= ref %>" class="form-control" hidden>
					 
					<div class="control-group">
					  <!-- Button -->
					  <div class="controls">
						<button class="btn btn-success mt-4 col-sm-12" ng-click="response=true" type="submit"><strong>Login</strong></button>
					  </div>
					</div>
					
						
					<!--<iframe ng-show="response" name="register_frame" > </iframe>	-->
				</form>
				</br>
				<div class="" id="login_response"></div>
				<!--<div class="mt-5 col-sm-4 col-sm-offset-4"><strong>OR</strong></div>-->
				<div class="g-signin2 btn btn-danger mt-5 " data-onsuccess="onSignIn"><strong>Login with Google</strong></div>
			</div>
		</div>
		
	</div>

		 
	<script>function onSignIn(googleUser) {
  var profile = googleUser.getBasicProfile();
  console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
  console.log('Name: ' + profile.getName());
  console.log('Image URL: ' + profile.getImageUrl());
  console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
  
	$.ajax({
		type: "POST",
		url: "http://localhost/google",
		data: {name: profile.getName(), email : profile.getEmail(), image :  profile.getImageUrl()}
	}).done(function (res) {
		//alert("<%=ref%>");
		var url = "<%=ref%>";
		//alert(url);
		window.location.replace(url);
		
	}).fail(function (jqXHR, textStatus, errorThrown) {
		
	});

}</script>

	<style>#register_frame{}</style>
	
		<div ng-show="!login" class="container mt-5 col-sm-4 col-sm-offset-4" >
		<div class="row">
			<div class="col-sm-12">
				<form  id="register" class="form-horizontal">			
					<div class="control-group">
					  <!-- email -->
					  <label class="control-label"  for="firstname"><strong>First Name</strong></label>
					  <div class="controls">
						<input type="text" id="reg_firstame" name="firstname" placeholder="" class="form-control" required>
					  </div>
					</div>
					<div class="control-group">
					  <!-- Password-->
					  <label class="control-label" for="password"><strong>Last Name</strong></label>
					  <div class="controls">
						<input type="text" id="reg_lastname" name="lastname" placeholder="" class="form-control" required>
					  </div>
					</div>
					<div class="control-group">
					  <!-- email -->
					  <label class="control-label"  for="email"><strong>Email</strong></label>
					  <div class="controls">
						<input type="email" id="reg_email" name="email" placeholder="" class="form-control" required>
					  </div>
					</div>
					<div class="control-group">
					  <!-- Password-->
					  <label class="control-label" for="password"><strong>Password</strong></label>
					  <div class="controls">
						<input type="password" id="reg_password" name="password" placeholder="" class="form-control" required>
					  </div>
					</div>
					<div class="control-group">
					  <!-- Button -->
					  <div class="controls">
						<button class="btn btn-success mt-4 col-sm-12" type="submit"><strong>Register</strong></button>
					  </div>
					</div>
					
					<input type="text" name="ref" value="<%= ref %>" class="form-control" hidden>
				</form>
				</br>
				<div class="" id="reg_response"></div>
			</div>
		</div>
	</div>
	
	 <script src="/javascripts/register.js"></script>
	 <script src="/javascripts/login.js"></script>

	 
	 </br>
	 </br>
	 <% include partials/foother.ejs %>
  
</body>

</html>