<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS [+alpha]-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"></link>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

        <!-- style -->
        <link rel="stylesheet" href="/stylesheets/style.css" />
		
    </head>

    <body>
        <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse" >
            <a class="navbar-brand navbar-left" href="#">Online Shop</a>
            <div class="navbar-collapse collapse ">
                <ul id="main-categories" class="nav navbar-nav navbar-right ml-auto">
                    <!--Main categories buttons-->
                    <% _.each(items, function(category){ %>
                    <li><button class='btn btn-outline-danger mt-2 mr-2 mb-3' id="<%=category.id%>" onclick="goToCategory(this)"><%= category.name %></button></li>
                    <%});%>
                </ul>
            </div>
        </nav>

        <div class="container" id="page_content">

            <div id="Breadcrumbs">
                <nav class="breadcrumb">
                    <a  id="bc-home" class="breadcrumb-item" href="#">Home</a>
                    <a  id="bc-subC" class="breadcrumb-item" href="/menu/"></a>
                </nav>
            </div>

            <div id="central-elements" >
                <div>
                    <% _.each(items, function(category){ %>
                    <div class='text-danger'><strong><%=category.name%></strong></div>
                    <div><strong><%=category.page_description%></strong></div>
                    <% _.each(category.categories, function(subC){ %>
                    <div>
                        <% _.each(subC.categories, function(product){ %>
                        <div class='text-danger'><%= product.name%></div>
                        <%if(product.image){%>
                        <div><img src='/images/<%=product.image%>'></img></div>
                        <%};%>
                        <div><%= product.page_description %></div>
                        <div><button class="btn btn-danger mb-3" onclick= "goToProducts(this)" id="<%= product.id %>">View Products</button></div>
                        <%});%>
                    </div>
                    <%});});%>

                </div>

            </div>
        </div>

        <footer class="footer">
            <div class="container">
                <span class="text-muted" id="year"></span>
            </div>
        </footer>

		<!--click the appropiate button-->
		<script>
            document.getElementById("<%= currentCategory%>").click();
        </script>
		
		<!-- jQuery-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <!-- main.js -->
        <script src="/javascripts/main.js"></script>

        <!-- sharedByAll.js -->
        <script src="/javascripts/sharedByAll.js"></script>

    </body>

</html>