<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS [+alpha]-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"></link>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

        <!-- style -->
        <link rel="stylesheet" href="/stylesheets/style.css" />

		<!-- jQuery-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		
		<!-- main.js -->
        <script src="/javascripts/main.js"></script>
    </head>

    <body>
        <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse" >
            <a class="navbar-brand navbar-left" href="">Online Shop</a>
            <div class="navbar-collapse collapse ">
                <ul class="nav navbar-nav navbar-right  ml-auto">
				    <!-- Login/profile -->
                    <% if(se.firstname){%>
						<li>
						<div class="dropdown">
                                        <a class="dropdown-toggle" id="profile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#"><img class="img-circle" src="<%=se.image%>"></img></a>
                                        <div class="dropdown-menu">
											<a class = 'dropdown-head' ><strong><%= se.firstname%> <%= se.lastname%></strong></a>
											<a class='dropdown-item' href="#">Acount</a>
											<a class='dropdown-item' onclick="signOut();" href="/logout">Log Out</a>
                                        </div>
                        </div></br>
						</li>
						<li>
						<div id="cart">
							<a href="/cart"><i class="fa fa-3x fa-shopping-cart"></i></a>
							<!--<label id="cart-badge" class="badge badge-danger"></label>-->
						</div>
						</li>
					<%}else{%>
						<button class='btn btn-success mt-2 mr-2 mb-3' onclick="location.href='/login';">Login</button>
					<%};%>
					<!-- Main categories buttons -->
                   
                    <% _.each(categories, function(category){ %>
                    <li><button class='btn btn-outline-danger mt-2 mr-2 mb-3' id="<%=category.id%>" onclick="goToCategory(this)"><%= category.name %></button></li>
                    <script>

                        var folder = "Home";
                        var subCategories = [];
                                <% _.each(category.categories, function(subC){ %>
                                        <% _.each(subC.categories, function(product){ %>
                                                var product = {id: "<%= product.id%>", name:"<%= product.name%>", description: "<%= product.page_description%>"};
                                                <% if (product.image){ %>
                                                product["image"] = "<%= product.image%>";

                                        <% } %>
                                                subCategories.push(product);
                                                <% }); %>
                                        <% }); %>
                                it["<%= category.name %>"] = {id: "<%= category.id%>",
                            description: "<%= category.page_description%>",
                            subCategories: subCategories};

                    </script>
                    <%});%>
                </ul>
            </div>
        </nav>

        <div class="container" id="page_content">

            <div id="Breadcrumbs">
                <nav class="breadcrumb">
                    <a id="bc-home" class="breadcrumb-item" href="">Home</a>

                </nav>
            </div>

            <div id="central-elements">

                <div id="Main_Category" class='text-danger'>Welcome to Online-Shop</div>

                <div id="Description"></div>

                <div id="Subcategories"></div>

            </div>
        </div>

        <script>

            document.getElementById("<%= currentCategory%>").click();
            window.history.pushState("", "", '/menu');
            
        </script>

        <% include partials/foother.ejs%>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
		<!---root -->
        <script src="/javascripts/root.js"></script>
		<!---shopping cart -->
        <script src="/javascripts/shopping-cart.js"></script>
		<!-- sharedByAll.js -->
        <script src="/javascripts/sharedByAll.js"></script>
		
    </body>
	
</html>