<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"></link>

        <!-- style -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/stylesheets/style.css" />

		<!-- main.js -->
        <script src="/javascripts/main.js"></script>

		<!--jQuery-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<!-- Angular  -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
		
    </head>
    <body ng-app ng-init="please_log=false;">
        
		<% include partials/navbar.ejs %>

        <div class="container" id="page_content">

            <div id="Breadcrumbs">
                <nav class="breadcrumb">
                    <a  id="bc-home" class="breadcrumb-item" href="#">Home</a>
                    <a  id="bc-subC" class="breadcrumb-item" href="/menu/"> Sub</a>
                    <a class="breadcrumb-item" href="#"><%= products[0].name %></a>
                </nav>
            </div>

            <div class="container mb-3">
                <div class="row">
                    <div class="col">
                        <div class="row"><strong><%= products[0].name %></strong></div>
                        <div class="row align-items-end">
                            <div class="col "><img alt="[<%= products[0].image_groups[0].images[0].alt %>]" src="/images/<%=products[0].image_groups[0].images[0].link %>" ></div>
                            <div class="col col-7 ">
								
                                <!--<div class=""><%= products[0].short_description %></div>-->
                                <div class=""><%- products[0].long_description %></div>

                                <div class="row">
                                    <div class="col" ><strong>Price: <span id="displayed_price" ><%= products[0].price %></span>
									                                <span id="price" hidden><%= products[0].price %></span>    
																	</strong></div>
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dd-head" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><%= products[0].currency %></button>

                                        <div id="dd-content" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
										
                                        </div>
                                    </div>

                                    <div class="col">
									    
										<% if(se.firstname){%>
										<form id="addToCart">
											<input type="hidden" name="id" value="<%= products[0].id %>">
											<input type="hidden" name="image" value="<%= products[0].image_groups[0].images[0].link %>">
											<input type="hidden" name="price" value="<%= products[0].price %>">
											<input type="hidden" name="name" value="<%= products[0].name %>">
											<button type="submit" class="btn btn-success">Buy now</button>
										</form>
										
										<script src="/javascripts/addToCart.js"></script>
										<div  id="buy"></div>
										<%}else{%>
											<button class="btn btn-outline-success" ng-click="please_log=true">Buy now</button>
											</br>
											<div class="alert alert-warning" ng-show="please_log"><strong>Please login in order to buy!</strong></div>
										<%};%>


									</div>
									<!--<iframe name="response" style="visibility:hidden"></iframe>-->
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>


        </div>
        
		<% include partials/foother.ejs%>


        <script src="/javascripts/root.js"></script>
        <% _.each(categories, function(category){%>
			<% if(category.id == currentCategory) {%>
				<% _.each(category.categories, function(subC){%>
					<% _.each(subC.categories, function(products){ %>
						<%if(products.id == currentSubCategory){%>
						    <!--complete the breadCrumbs menu and the Currencie Dropdown-->
							<script>completeBreadcrumb("bc-subC", "<%=products.name%>");
							        
									completeHref("<%=category.id%>", "bc-subC", "<%=products.id%>");
									
									getCurrencies();

							</script>
        <%};});});%>
        <%}});%>
		
		
  <!-- Load Facebook SDK for JavaScript -->
  

        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
		<!---shopping cart -->
        <script src="/javascripts/shopping-cart.js"></script>
		<!-- sharedByAll.js -->
        <script src="/javascripts/sharedByAll.js"></script>



    </body>
</html>
