<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS [+alpha]-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"></link>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

        <!-- style -->
        <link rel="stylesheet" href="/stylesheets/style.css" />

		<!-- jQuery-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		
		<!-- main.js -->
        <script src="/javascripts/main.js"></script>
		
    </head>
    <body>
        <%include partials/navbar.ejs%>

        <div class="container" id="page_content">

            <div id="Breadcrumbs">
                <nav class="breadcrumb">
                    <a  id="bc-home" class="breadcrumb-item" href="">Home</a>
					<a  id="bc-subC" class="breadcrumb-item" href=""> Sub</a>
                </nav>
            </div>

			<% for(i=0; i<products.length; i+=2){ %>
			
                <div class="container mb-3">
                    <div class="row">
                        <div class="col">
                            <div class="row"><strong><%= products[i].name %></strong></div>
                            <div class="row align-items-end">
                                <div class="col "><img alt="[<%= products[i].image_groups[0].images[0].alt %>]" src="/images/<%=products[i].image_groups[0].images[0].link %>" ></div>
                                <div class="col col-7 ">

                                    <div class=""><%- products[i].page_description %></div>

                                    <div class="row">
                                        <div class="col"><p>Price: <%= products[i].price %></p></div>
                                        <div class="col"><button id="<%= products[i].id %>" onclick="goToPDP(this)" class="btn btn-outline-success">More Info</button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
						
                        <div class="col">
							<% if(products[i+1]) {%>
                            <div class="row"><strong><%= products[i+1].name%></strong></div>
                            <div class="row align-items-end">
							
                                <div class="col " id="col1"><img alt="[<%= products[i+1].image_groups[0].images[0].alt %>]" src="/images/<%=products[i+1].image_groups[0].images[0].link %>"></div>
                                <div class="col col-7">

                                    <div class=""><%- products[i+1].page_description %></div>

                                    <div class="row">
                                        <div class="col"><p>Price: <%= products[i+1].price %></p></div>
                                        <div class="col"><button id="<%= products[i+1].id %>" onclick="goToPDP(this)" class="btn btn-outline-success">More Info</button></div>
                                    </div>

                                </div>
                            </div>
							<%};%>
                        </div>
						
                    </div>

                </div>
				
			<% };%>
            
        </div>
                
				<% include partials/foother.ejs%>
				
				
		<script src="/javascripts/root.js"></script>			
		<% _.each(categories, function(category){%>
					<% if(category.id == currentCategory) {%>
						<% _.each(category.categories, function(subC){%>
							<% _.each(subC.categories, function(products){ %>
								<%if(products.id == currentSubCategory){%>
									<script>completeBreadcrumb("bc-subC","<%=products.name%>"); </script>
							<%};});});%>
                    <%}});%>
					
	    
		 <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
		<!---shopping cart -->
        <script src="/javascripts/shopping-cart.js"></script>
		<!-- sharedByAll.js -->
        <script src="/javascripts/sharedByAll.js"></script>
	
</body>
</html>
