#cart{
	margin: 0px 20px 0px 0px;
}
.fa{	
	color:white;
}
#profile{
	color:white;
	margin: 0px 25px 0px 0px;
}
.img-circle {
    border-radius: 50%;
	width: 50px;
	height: 50px;
}
body {

  font:  "Lucida Grande", Helvetica, Arial, sans-serif;
}
/*.btn{
	font-weight: bold;
	margin: 0px 5px 10px 0px;
}*/
.navbar-left{
	font-weight: bold;
	font-size: 180%;
}

#cart-badge {
    font-size: 14px;

    padding: 0 5px;
    vertical-align: top;
}
.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  
}
#Breadcrumbs{
	padding: 10px 0px 0px 0px;
}

.text-danger{
	font-size: 30px;
}
/*
#page_content{
	width: 61%;
}*/
#Main_Category{
	font-weight: bold;
	font-size: 30px;
}
#Description{
	font-weight: bold;
}

footer {
  padding: 10px;
  background-color: #efefef;
  text-align: right;
  border-top: black solid 1px;
  font-weight: bold;
}